header{
    color: rgb(209, 45, 45);
}
header{
    background-color: chartreuse;
}
main{
    background-color:grey;
}
h1,h2{
    color: #d42929;
}
div{
    background-color:blueviolet;
}
section{
    background-color: aqua;
}