#parrafo1{
    color:lightcoral;
}
.primerparrafo{
    color:lightblue;
}
#parrafo2{
    color: blueviolet;
}
.segundoparrafo{
    color: lightgreen;
}
#parrafo3{
    color:darkmagenta
}
.tercerparrafo{
    color: darkorange;
}